

.page {
    
    width: 100%;
    background-color: #603F26;
    padding: 50px 0;
    text-align: center;
}

.page a{
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 16px 16px;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
}

.page a:hover{
    background-color: rgb(96, 212, 216);
}

.background{
   background-color: #6C4E31;
   
   padding: 100px;
}
.one{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 100%;
}

.home{
      width: 100%;
      background-color:#6C4E31;
      height: 960px;
    
}

.home_head{
    padding: 15px 0;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.inner_home{
    
    width: 80%;
    text-align: center;
    background-color:#FFDBB5;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px ;


}

.two{
    width: 25%;
}
.paraone{
    text-align: justify;
    font-size: 20px;
    line-height: 2;
}

.home_cone{
    width: 100%;
    background-color: #6C4E31;
    height: 2020px;
    
}
.home_headcone{
    padding: 15px 0;
    font-size: 45px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.inner_homecone{
    width: 80%;
    text-align: center;
    background-color:#FFDBB5;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px ;
}
.partwo{
    text-align: justify;
    font-size: 25px;
    line-height: 2;
}

.home_ctwo{
    width: 100%;
    background-color: #6C4E31;
    height: 2260px;
}

.inner_homectwo{
    width: 80%;
    text-align: center;
    background-color:#FFDBB5;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px ;
}

.column {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .home_headctwo{
    padding: 15px 0;
    font-size: 45px;
    font-family:'Courier New', Courier, monospace;
  }

  .home_cthree{
    width: 100%;
    background-color: #6C4E31;
    height: 2000px;
  }

  .inner_homecthree{
    width: 80%;
    text-align: center;
    background-color:#FFDBB5;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px ;
  }

  .home_headcthree{
    padding: 15px 0;
    font-size: 45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .inner_MRL{
    width: 80%;
    text-align: center;
    background-color:#FFDBB5;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px ;
    
  }
 

  .home_MRL{
    width: 100%;
    background-color: #6C4E31;
    height: 850px;
  }

  .home_MRLSS{
    padding: 15px 0;
    font-size: 45px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }